@import "./mixins/all";

html,
body {
  background-color: $white;
  margin: 0 !important;
  padding: 0;
  font-family: "RedHatText", "Montserrat", Arial, sans-serif;
}

html {
  min-height: 100vh;
  height: 100%;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

textarea {
  resize: vertical;
}

picture {
  display: block;
}

.image--rounded img,
img.image--rounded {
  border-radius: 15px;
}

.fixed {
  overflow: hidden;
}

.page-overflow {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  @include make-container-max-width();
  &--fluid {
    max-width: none;
    .row {
      margin: 0;
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

@import "utils/text.scss";
@import "utils/palette.scss";
@import "utils/fonts.scss";
@import "utils/grid.scss";
@import "utils/block.scss";
@import "utils/typography.scss";
@import "utils/header.scss";
@import "utils/footer.scss";

@import "mixins/_breakpoints.scss";

@import "components/category-cloud.scss";
@import "components/category.scss";
@import "components/archive.scss";
@import "components/comments.scss";
@import "components/wp-gallery.scss";
@import "components/fb-nav.scss";
@import "components/wp-table.scss";
@import "components/list.scss";
@import "components/iti.scss";
@import "components/form.scss";
@import "components/slider.scss";
@import "components/switcher.scss";
@import "components/toggle.scss";
@import "components/contact-us.scss";
@import "components/affiliates.scss";
@import "components/tooltip.scss";
@import "components/video-modal.scss";
@import "components/card.scss";
@import "components/ceo.scss";
@import "components/author.scss";
@import "components/article.scss";
@import "components/article-state.scss";
@import "components/article-category.scss";
@import "components/tag.scss";
@import "components/widget.scss";
@import "components/widget_post_categories.scss";
@import "components/search-form.scss";
@import "components/recent-post.scss";
@import "components/share.scss";
@import "components/related-posts.scss";
