@import "./mixins/all";

html,
body {
  background-color: $white;
  margin: 0 !important;
  padding: 0;
  font-family: "RedHatText", "Montserrat", Arial, sans-serif;
  font-size: $default;
}

html {
  min-height: 100vh;
  height: 100%;
}

a {
  color: $blue;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $blue-hover;
  }
}

:where(body.wp-admin) {
  a {
    color: #2271b1;
  }
}

:where(.acf-block-preview) a {
  color: $blue;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $blue-hover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

textarea {
  resize: vertical;
}

picture {
  display: block;
}

.image--rounded img,
img.image--rounded {
  border-radius: 15px;
}

.fixed {
  overflow: hidden;
}

.page-overflow {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  @include make-container-max-width();
  &--fluid {
    max-width: none;
    .row {
      margin: 0;
    }
  }
}

.grecaptcha-badge { 
  visibility: hidden;
}

@import "utils/palette.scss";
@import "utils/fonts.scss";
@import "utils/grid.scss";
@import "utils/block.scss";
@import "utils/typography.scss";
@import "utils/header.scss";
@import "utils/footer.scss";

@import "mixins/_breakpoints.scss";

@import "components/wp-gallery.scss";
@import "components/wp-table.scss";
@import "components/iti.scss";
@import "components/form.scss";
@import "components/slider.scss";
@import "components/switcher.scss";
@import "components/toggle.scss";
@import "components/contact-us.scss";
@import "components/affiliates.scss";
@import "components/tooltip.scss";