@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.eot");
    src: url("../fonts/Montserrat.eot?#iefix")format("embedded-opentype"),
         url("../fonts/Montserrat.woff") format("woff"),
         url("../fonts/Montserrat.woff2") format("woff2"),
         url("../fonts/Montserrat.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
	font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.eot");
    src: url("../fonts/Montserrat-Medium.eot?#iefix")format("embedded-opentype"),
         url("../fonts/Montserrat-Medium.woff") format("woff"),
         url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
	font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.eot");
    src: url("../fonts/Montserrat-Bold.eot?#iefix")format("embedded-opentype"),
         url("../fonts/Montserrat-Bold.woff") format("woff"),
         url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
	font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.eot");
    src: url("../fonts/Montserrat-Black.eot?#iefix")format("embedded-opentype"),
         url("../fonts/Montserrat-Black.woff") format("woff"),
         url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
	font-display: swap;
}