<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>FAQ – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">
    <!-- <link rel="stylesheet" href="assets/styles/styles.css" media="all"> -->
    <link rel="stylesheet" href="assets/styles/common.css" media="all">
    <link rel="stylesheet" href="assets/styles/pages/faq.css" media="all">
    
    <link rel="stylesheet" href="assets/styles/jumbotron__inner.css" media="all">
    <link rel="stylesheet" href="assets/styles/support.css" media="all">
</head>
<body>
	<div id="page" class="site faq">

        //= ../blocks/header.html

        <main class="main">

            <section class="section jumbotron__inner">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h1 class="title">FAQ</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs__item active" href="#">Home</a> >
                                <span class="breadcrumbs__item">Frequently Asked Questions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="main__content">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h4 class="subtitle subtitle__dot-before">FAQ</h4>
                            <h2 class="title">Read Most <br> Frequent Questions </h2>
                        </div>
                    </div>
                    <div class="row faq__list">
                        <div class="col col-50">
                            <a href="#" class="faq__item">
                                <div class="faq__title">Best Practices for Keyword Density</div>
                                <div class="faq__text">
                                    Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability.
                                </div>
                                <div class="faq__arrow">
                                    <img src="../../assets/images/faq_arrow.png">
                                </div>
                            </a>
                        </div> 
                        <div class="col col-50">
                            <a href="#" class="faq__item">
                                <div class="faq__title">Social Media’s Role in SEO</div>
                                <div class="faq__text">
                                    Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability.
                                </div>
                                <div class="faq__arrow">
                                    <img src="../../assets/images/faq_arrow.png">
                                </div>
                            </a>
                        </div>
                        <div class="col col-50"> 
                            <a href="#" class="faq__item">
                                <div class="faq__title">Best SEO Practices for Page Layouts</div>
                                <div class="faq__text">
                                    Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability. Google has said for years that the most important single factor to 
                                </div>
                                <div class="faq__arrow">
                                    <img src="../../assets/images/faq_arrow.png">
                                </div>
                            </a>
                        </div>
                        <div class="col col-50">
                            <a href="#" class="faq__item">
                                <div class="faq__title">How Does Off Site SEO Work?</div>
                                <div class="faq__text">
                                    Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability. Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability. Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability. Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability.
                                </div>
                                <div class="faq__arrow">
                                    <img src="../../assets/images/faq_arrow.png">
                                </div>
                            </a>
                        </div>
                        <div class="col col-50">
                            <a href="#" class="faq__item">
                                <div class="faq__title">What is off page SEO link building?</div>
                                <div class="faq__text">
                                    Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability.
                                </div>
                                <div class="faq__arrow">
                                    <img src="../../assets/images/faq_arrow.png">
                                </div>
                            </a>
                        </div>
                        <div class="col col-50">
                            <a href="#" class="faq__item">
                                <div class="faq__title">Why is SEO Link Building Important?</div>
                                <div class="faq__text">
                                    Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability. Google has said for years 
                                </div>
                                <div class="faq__arrow">
                                    <img src="../../assets/images/faq_arrow.png">
                                </div>
                            </a>
                        </div>
                        <div class="col col-50">
                            <a href="#" class="faq__item">
                                <div class="faq__title">Best SEO Practices for High Quality Content</div>
                                <div class="faq__text">
                                    Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability. Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability. Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability.
                                </div>
                                <div class="faq__arrow">
                                    <img src="../../assets/images/faq_arrow.png">
                                </div>
                            </a>
                        </div>
                        <div class="col col-50">
                            <a href="#" class="faq__item">
                                <div class="faq__title">Why is Researching Keywords Important?</div>
                                <div class="faq__text">
                                    Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability. Google has said for years that the most important single factor to them is high quality content. 
                                    Now more than ever, they have the ability.
                                </div>
                                <div class="faq__arrow">
                                    <img src="../../assets/images/faq_arrow.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="support">
                <div class="faq__answer">
                    <div class="container">
                        <form class="form faq__form">
                            <div class="heading">
                                <h4 class="subtitle subtitle__dot-before subtitle__dot-after">Submit a ticket</h4>
                                <h2 class="title">Not Found Your Answer? Just Ask Us!</h2>
                            </div>
                            <div class="form__group">
                                <div class="row">
                                    <div class="col col-50">
                                        <input placeholder="Your Name *" type="text" class="form__control" />
                                    </div>
                                    <div class="col col-50">
                                        <input placeholder="Your Email *" type="text" class="form__control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form__group">
                                <input placeholder="Website" type="text" class="form__control" />
                            </div>
                            <div class="form__group">
                                <textarea placeholder="Message..." type="text" class="form__control"></textarea>
                            </div>
                            <div class="form__buttons">
                                <a href="#" class="button button--orange button--image">Send Message</a>
                            </div> 
                        </form>
                    </div>
                </div>

                <div class="support__bg">
                    <img src="assets/images/support_map.png">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h4 class="subtitle subtitle__dot-before subtitle__dot-after">More help</h4>
                            <h2 class="title">Our Support Team <br> will Always Assist You 24/7</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-25">
                            <div class="support__card">
                                <div class="support__overlay"></div>
                                <div class="support__image">
                                    <span class="flaticon-startup"></span>
                                </div>
                                <div class="support__title">For Customers</div>
                                <p class="paragraph">We have seen great successes with everyone companies.</p>
                                <a href="#" class="button button--orange button--image">Learn More</a>
                            </div>
                        </div>
                        <div class="col col-25">
                            <div class="support__card">
                                <div class="support__overlay"></div>
                                <div class="support__image">
                                    <span class="flaticon-system"></span>
                                </div>
                                <div class="support__title">For Partners</div>
                                <p class="paragraph">Every business and industry requires an approach.</p>
                                <a href="#" class="button button--orange button--image">Learn More</a>
                            </div>
                        </div>

                        <div class="col col-25">
                            <div class="support__card">
                                <div class="support__overlay"></div>
                                <div class="support__image">
                                    <span class="flaticon-internet"></span>
                                </div>
                                <div class="support__title">For Business</div>
                                <p class="paragraph">You make sure you know how campaign is performing.</p>
                                <a href="#" class="button button--orange button--image">Learn More</a>
                            </div>
                        </div>
                        <div class="col col-25">
                            <div class="support__card">
                                <div class="support__overlay"></div>
                                <div class="support__image">
                                    <span class="flaticon-report"></span>
                                </div>
                                <div class="support__title">For Startups</div>
                                <p class="paragraph">To generate highly focused leads ready to purchases.</p>
                                <a href="#" class="button button--orange button--image">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        //= ../blocks/footer.html

    </div><!-- #page -->


    <script type="text/javascript" src="assets/scripts/faq.js"></script>
</body>
</html>