<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Home – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="assets/styles/common.css" media="all">
    <link rel="stylesheet" href="assets/pages/home.css" media="all">

    <link rel="stylesheet" href="assets/styles/jumbotron.css" media="all">
    <link rel="stylesheet" href="assets/styles/steps.css" media="all">
    <link rel="stylesheet" href="assets/styles/about.css" media="all">
    <link rel="stylesheet" href="assets/styles/partners.css" media="all">
    <link rel="stylesheet" href="assets/styles/services.css" media="all">
    <link rel="stylesheet" href="assets/styles/benefits.css" media="all">
    <link rel="stylesheet" href="assets/styles/plans.css" media="all">
    <link rel="stylesheet" href="assets/styles/testimonials.css" media="all">
    <link rel="stylesheet" href="assets/styles/blog.css" media="all">
    <link rel="stylesheet" href="assets/styles/action.css" media="all">
</head>
<body>
	<div id="page" class="site home">

        //= ../blocks/header.html

        <main class="main"> 

            <section class="section jumbotron">
                <div class="container container--fluid">
                    <div class="row">
                        <div class="col col-54">
                            <div class="jumbotron_typographic">
                                <div class="jumbotron_image">
                                    <img src="assets/images/jumbotron-image.svg">
                                </div>
                                
                                <div class="jumbotron_image--way">
                                    <img src="assets/images/way.svg">
                                </div>
                                
                                <div class="jumbotron_image--arrow">
                                    <img src="assets/images/arrow.svg">
                                </div>
                            </div>
                        </div>
                        <div class="col col-46">
                            <div class="jumbotron_content">
                                <h4 class="subtitle">Our experience boost your business</h4>
                                <h1 class="title">Top Rated Online Marketing Company</h1>
                                <p class="description">We bet you don't spend much time on the 2nd page of Google - so why should your website?</p>
                                <a href="#" class="button button--orange button--image">Start Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jumbotron__bg--gray-big">
                    <img src="assets/images/bg_jumbotron_right_big_gray.svg">
                </div>
            </section>
        
            <section class="section steps">
                <div class="container container--fluid">
                    <div class="row">
                        <div class="col col-25">
                            <div class="steps__item">
                                <div class="steps__overlay"></div>
                                <div class="steps__icon">
                                    <div class="steps__icon_overlay"></div>
                                    <span class="flaticon-pie-chart-1"></span>
                                </div>
                                <div class="steps__content">
                                    <h6 class="steps__title">Social Media Marketing</h6>
                                    <p class="paragraph">Create and manage top-performing social campaigns and start.</p>
                                </div>
                                <div class="steps__count">01</div>
                            </div>
                        </div>
        
                        <div class="col col-25">
                            <div class="steps__item">
                                <div class="steps__overlay"></div>
                                <div class="steps__icon">
                                    <div class="steps__icon_overlay"></div>
                                    <span class="flaticon-document"></span>
                                </div>
                                <div class="steps__content">
                                    <h6 class="steps__title">App Development</h6>
                                    <p class="paragraph">Create, publish, and promote engaging content to generate more traffic.</p>
                                </div>
                                <div class="steps__count">02</div>
                            </div>
                        </div>
        
                        <div class="col col-25">
                            <div class="steps__item">
                                <div class="steps__overlay"></div>
                                <div class="steps__icon">
                                    <div class="steps__icon_overlay"></div>
                                    <span class="flaticon-search-1"></span>
                                </div>
                                <div class="steps__content">
                                    <h6 class="steps__title">SEO Optimization</h6>
                                    <p class="paragraph">Get more website traffic, more customers, and more online visibility.</p>
                                </div>
                                <div class="steps__count">03</div>
                            </div>
                        </div>
        
                        <div class="col col-25">
                            <div class="steps__item">
                                <div class="steps__overlay"></div>
                                <div class="steps__icon">
                                    <div class="steps__icon_overlay"></div>
                                    <span class="flaticon-pie-chart"></span>
                                </div>
                                <div class="steps__content">
                                    <h6 class="steps__title">Content Marketing</h6>
                                    <p class="paragraph">You can provide the answers that your potential customers are trying.</p>
                                </div>
                                <div class="steps__count">04</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="section about">
                <div class="container container--fluid">
                    <div class="row">
                        <div class="col col-50">
                            <div class="about__bg">
                                <img src="assets/images/bg_jumbotron_right_big_gray.svg">
                            </div>
                            <div class="about__ellipse about__ellipse--big"></div>
                            <div class="about__ellipse about__ellipse--small"></div>
                            <div class="about__content">
                                <h4 class="subtitle subtitle__dot-before">About us</h4>
                                <h2 class="title">Enjoy Full-Service Digital Marketing Expertise</h2>
                                <p class="description">Our approach to SEO is uniquely built around what we know works…and what we know doesn’t work.</p>
                                <p class="paragraph">Over the years, we have worked with Fortune 500s and brand-new startups. 
                                    We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers, and growing overall sales.
                                </p>
                                <a href="#">
                                    <div class="snippet">
                                        <div class="snippet__image">
                                            <img src="assets/images/google-icon.png">
                                        </div>
                                        <div class="snippet__content">
                                            <div class="snippet__title">Google Rating</div>
                                            <div class="snippet__result">
                                                <span class="snippet__rating">4.9</span>
                                                <div class="snippet__stars">
                                                    <span class="snippet__star"></span>
                                                    <span class="snippet__star"></span>
                                                    <span class="snippet__star"></span>
                                                    <span class="snippet__star"></span>
                                                    <span class="snippet__star"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="about__image">
                                <img src="assets/images/about.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="section partners">
                <div class="container container--fluid">
                    <div class="row">
                        <div class="col col-16">
                            <div class="partners__item">
                                <img src="assets/images/c-logo2-2.png" alt="SEO Mind">
                            </div>
                        </div>
                        <div class="col col-16">
                            <div class="partners__item">
                                <img src="assets/images/c-logo2-1.png" alt="IBM Media">
                            </div>
                        </div>
                        <div class="col col-16">
                            <div class="partners__item">
                                <img src="assets/images/c-logo2-6.png" alt="Greenhost">
                            </div>
                        </div>
                        <div class="col col-16">
                            <div class="partners__item">
                                <img src="assets/images/c-logo2-5.png" alt="Yodgy">
                            </div>
                        </div>
                        <div class="col col-16">
                            <div class="partners__item">
                                <img src="assets/images/c-logo2-4.png" alt="Atomic SEO">
                            </div>
                        </div>
                        <div class="col col-16">
                            <div class="partners__item">
                                <img src="assets/images/c-logo2-3.png" alt="Boosterio">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="section services">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h4 class="subtitle subtitle__dot-before subtitle__dot-after">Our Services</h4>
                            <h2 class="title">Introduce Best <br> SEO Services for Business</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-33">
                            <div class="services__item">
                                <div class="services__image">
                                    <img src="assets/images/service1-home1.png">
                                </div>
                                <div class="services__title">All Sizes Business</div>
                                <p class="paragraph">You can provide the answers that your potential customers are trying to find, so you can become the industry.</p>
                                <a href="#" class="button button--orange button--image">Learn More</a>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="services__item">
                                <div class="services__image">
                                    <img src="assets/images/service1-home2.png">
                                </div>
                                <div class="services__title">Awesome Results</div>
                                <p class="paragraph">Create and manage top-performing social campaigns and start developing a dedicated customer fan base.</p>
                                <a href="#" class="button button--orange button--image">Learn More</a>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="services__item">
                                <div class="services__image">
                                    <img src="assets/images/service1-home3.png">
                                </div>
                                <div class="services__title">Significant ROI</div>
                                <p class="paragraph">Get more website traffic, more customers, and more online visibility with powerful SEO services.</p>
                                <a href="#" class="button button--orange button--image">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="services__bg">
                        <img src="assets/images/services__bg.png">
                    </div>
                </div>
            </section>
        
            <section class="section benefits">
                <div class="container container--fluid">
                    <div class="row">
                        <div class="col col-50">
                            <div class="benefits__image">
                                <img src="assets/images/image2-home4.png">
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="benefits__bg">
                                <img src="assets/images/bg_jumbotron_right_big_gray.svg">
                            </div>
        
                            <div class="benefits__content">
                                <h4 class="subtitle subtitle__dot-before">Our Benefits</h4>
                                <h2 class="title">Grow Your Business with Our Marketing Agency</h2>
                                <div class="benefits__items">
                                    <div class="benefits__item">
                                        <div class="benefits__count">01.</div>
                                        <div class="benefits__title">PPC Advertising</div>
                                        <p class="paragraph">
                                            Target your ideal search phrases and get found at the top of search results. PPC allows you
                                        </p>
                                    </div>
                                    <div class="benefits__item">
                                        <div class="benefits__count">02.</div>
                                        <div class="benefits__title">Web Development</div>
                                        <p class="paragraph">
                                            Your website has to impress your visitors within just a few seconds. If it runs slow, if it feels outdated.
                                        </p>
                                    </div>
                                    <div class="benefits__item">
                                        <div class="benefits__count">03.</div>
                                        <div class="benefits__title">Media Managment</div>
                                        <p class="paragraph">
                                            Create, publish, and promote engaging content to generate  and build a dedicated community.
                                        </p>
                                    </div>
                                    <div class="benefits__item">
                                        <div class="benefits__count">04.</div>
                                        <div class="benefits__title">Keyword Research</div>
                                        <p class="paragraph">
                                            We select themed keywords based on user-intent to solidify rankings based on what users searches
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="section plans">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h4 class="subtitle subtitle__dot-before subtitle__dot-after">Choose your plan</h4>
                            <h2 class="title">Flexible Pricing Plans</h2>
                            <p class="paragraph">We have experience working with large and small businesses and are ready to develop a targeted strategy and plan that’s just right for you.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-33">
                            <div class="plans__item plans__item--standard">
                                <div class="plans__label">Standard</div>
                                <div class="plans__image">
                                    <img src="assets/images/pricing1.png">
                                </div>
                                <div class="plans__price"><sup>$</sup> 69.99</div>
                                <div class="plans__package">Monthly Package</div>
                                <div class="plans__points">
                                    <p class="plans__point">Social Media Marketing</p>
                                    <p class="plans__point">2.100 Keywords</p>
                                    <p class="plans__point">One Way Link Building</p>
                                    <p class="plans__point">5 Free Optimization</p>
                                    <p class="plans__point">3 Press Releases</p>
                                </div>
                                <a href="#" class="button button--orange button--image">Choose Plane</a>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="plans__item plans__item--filled plans__item--economy">
                                <div class="plans__label">Economy</div>
                                <div class="plans__image">
                                    <img src="assets/images/pricing2.png">
                                </div>
                                <div class="plans__price"><sup>$</sup> 79.99</div>
                                <div class="plans__package">Monthly Package</div>
                                <div class="plans__points">
                                    <p class="plans__point">Social Media Marketing</p>
                                    <p class="plans__point">3.100 Keywords</p>
                                    <p class="plans__point">One Way Link Building</p>
                                    <p class="plans__point">10 Free Optimization</p>
                                    <p class="plans__point">5 Press Releases</p>
                                </div>
                                <a href="#" class="button button--orange button--image">Choose Plane</a>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="plans__item plans__item--executive">
                                <div class="plans__label">Executive</div>
                                <div class="plans__image">
                                    <img src="assets/images/pricing3.png">
                                </div>
                                <div class="plans__price"><sup>$</sup> 89.99</div>
                                <div class="plans__package">Monthly Package</div>
                                <div class="plans__points">
                                    <p class="plans__point">Social Media Marketing</p>
                                    <p class="plans__point">5.100 Keywords</p>
                                    <p class="plans__point">One Way Link Building</p>
                                    <p class="plans__point">15 Free Optimization</p>
                                    <p class="plans__point">10 Press Releases</p>
                                </div>
                                <a href="#" class="button button--orange button--image">Choose Plane</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="section testimonials">
                <div class="container container--fluid">
                    <div class="row">
                        <div class="col col-50">
                            <div class="testimonials__bg">
                                <img src="assets/images/bg_jumbotron_right_big_gray.svg">
                            </div>
                            <div class="testimonials__ellipse testimonials__ellipse--big"></div>
                            <div class="testimonials__ellipse testimonials__ellipse--small"></div>
                            <div class="testimonials__content">
                                <h4 class="subtitle subtitle__dot-before">Real Testimonials</h4>
                                <h2 class="title">What They Say About Our Company?</h2>
                                <div class="blockquote">
                                    <div class="blockquote__text">
                                        “After cycling through multiple SEO companies and seeing no results, I finally came across SEO. 
                                        Choosing to work with Onum is hands down one of the best business investment decisions I have ever made.”
                                    </div>
                                    <div class="blockquote__actions">
                                        <div class="blockquote__photo">
                                            <img src="assets/images/client.png">
                                        </div>
                                        <div class="blockquote__content">
                                            <div class="blockquote__author">Taylor Green</div>
                                            <div class="blockquote__work">Client of Company</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="testimonials__image">
                                <img src="assets/images/testimonials_image.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="section blog">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h4 class="subtitle subtitle__dot-before subtitle__dot-after">Our blog</h4>
                            <h2 class="title">Our Latest Media</h2>
                            <p class="paragraph">
                                Our campaigns get your business in front of the right people at the 
                                right time to increase organic traffic and boost engagement.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/1837.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">15 SEO Best Practices: Website Architecture</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/14717.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">What Makes a Quality Backlink?</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/2447945.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">A Guide to Google’s SEO Algorithm Updates</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>
        
            <section class="section action">
                <div class="container">
                    <div class="action__content" style="
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 87px;
        ">
                        <div class="action__title">Take Your Website to Next Level Right Now!</div>
                        <a href="#" class="button button--orange button--image">Start Now</a>
                    </div>
                </div>
            </section>
        
        </main>

        //= ../blocks/footer.html

    </div><!-- #page -->
</body>
</html>