<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Index – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="assets/styles/common.css" media="all">
</head>
<body>
	<div id="page" class="site">

		//= ../blocks/header.html

		<main class="main"> 
			<div class="container" style="padding: 120px 0;">
				<ul class="paragraph">
					<li><a class="link" target="_blank" href="home.html">home</a></li>
					<li><a class="link" target="_blank" href="blog.html">blog #6</a></li>
					<li><a class="link" target="_blank" href="single.html">single #7</a></li>
					<li><a class="link" target="_blank" href="about.html">about #8</a></li>
					<li><a class="link" target="_blank" href="team.html">team #9</a></li>
					<li><a class="link" target="_blank" href="team-single.html">team-single #11</a></li>
					<li><a class="link" target="_blank" href="faq.html">faq #17</a></li>
					<li><a class="link" target="_blank" href="portfolio.html">portfolio #19</a></li>
					<li><a class="link" target="_blank" href="case.html">portfolio Single #21</a></li>
				</ul>
			</div>
		</main>

		//= ../blocks/footer.html

	</div><!-- #page -->

</body>
</html>