<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Portfolio – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="assets/styles/common.css" media="all">
    <link rel="stylesheet" href="assets/styles/pages/portfolio.css" media="all">
    <link rel="stylesheet" href="assets/styles/jumbotron__inner.css" media="all">
</head>
<body>
	<div id="page" class="site portfolio">

        //= ../blocks/header.html

        <main class="main">

            <section class="section jumbotron__inner">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h1 class="title">Portfolio Grid</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs__item active" href="#">Home</a> >
                                <span class="breadcrumbs__item">Portfolio Grid</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="main__content">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h4 class="subtitle subtitle__dot-before subtitle__dot-after">Our Projects</h4>
                            <h2 class="title">View Some of Our Works <br> and Case Studies for Clients</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-33">
                            <a href="#" class="portfolio__item">
                                <img src="assets/images/1824.png">
                                <div class="portfolio__item_information">
                                    <div class="portfolio__item_name">Cereal Project</div>
                                    <div class="portfolio__item_category">Development/Media</div>
                                </div>
                            </a>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1816.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1975.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1816.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1975.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1824.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1816.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1975.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1824.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1824.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1816.png">
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="portfolio__item">
                                <img src="../../assets/images/1975.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </main>

        //= ../blocks/footer.html

    </div><!-- #page -->
</body>
</html>