<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>About – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">

    <link rel="stylesheet" href="assets/styles/common.css" media="all">
    <link rel="stylesheet" href="assets/styles/pages/service.css" media="all">
    
    <link rel="stylesheet" href="assets/styles/jumbotron__inner.css" media="all">
    <link rel="stylesheet" href="assets/styles/why-choose.css" media="all">
    <link rel="stylesheet" href="assets/styles/partners.css" media="all">
    <link rel="stylesheet" href="assets/styles/plans.css" media="all">
    <link rel="stylesheet" href="assets/styles/what-is.css" media="all">

</head>
<body> 
	<div id="page" class="site about">

		//= ../blocks/header.html

		<main class="main"> 

            <section class="section jumbotron__inner">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h1 class="title">About Company</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs__item active" href="#">Home</a> >
                                <span class="breadcrumbs__item">About Company</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="main__content">

                <div class="what-is">
                    <div class="container">
                        <div class="row">
                            <div class="col col-50">
                                <h4 class="subtitle subtitle__dot-before">We get results</h4>
                                <h2 class="title">What is App Development</h2>
                                <div class="switcher">
                                    <button data-target="integration" class="button button--blue active">Integration</button>
                                    <button data-target="development" class="button">Development</button>
                                </div>
                                <div class="switcher__tabs">
                                    <div class="switcher__tab active" data-name="integration">
                                        <p class="paragraph">
                                            We help ambitious businesses like yours generate more profits by building awareness, 
                                            driving web traffic, connecting with customers, and growing overall sales. 
                                            Give us a call.
                                        </p>
                                        <ul>
                                            <li>jiorwnfreiurueireu jiorwnfreiurueireu jiorwnfreiurueireu jiorwnfreiurueireu jiorwnfreiurueireujiorwnfreiurueireu jiorwnfreiurueireu jiorwnfreiurueireu</li>
                                            <li>jiorwnfreiurueireu</li>
                                        </ul>
                                    </div>
                                    
                                    <div class="switcher__tab" data-name="development">
                                        <p class="paragraph">
                                            We help ambitious businesses like yours generate more profits by building awareness, 
                                            driving web traffic, connecting with customers, and growing overall sales. 
                                            Give us a call.
                                        </p>
                                        <ul>
                                            <li>We provide a revolutionary level of transparency into our campaigns - from backlink acquisition.</li>
                                            <li>Want to test our process before ramping up the budget?  We'll prove our model and you'll see revenue soar.</li>
                                        </ul>
                                    </div>
                                </div>
        
                            </div>
                            <div class="col col-50">
                                <div class="what-is__image">
                                    <img src="<?= get_template_directory_uri().'/assets/images/what-is-image.png'?>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="why-choose">
                    <div class="container">
                        <div class="row">
                            <div class="col col-50">
                                <img src="<?= get_template_directory_uri().'/assets/images/about_image.png'?>">
                            </div>
                            <div class="col col-50">
                                <h4 class="subtitle subtitle__dot-before">Why app development</h4>
                                <h2 class="title">Work with a Dedicated SEO Company</h2>
                                <p class="paragraph">
                                    From keyword research to technical auditing to site migration, our team of technical SEOs are true experts in their field.
                                </p>
                                <div class="progress-bars">
                                    <div class="bar" data-percent="70%">
                                        <div class="bar__status">
                                            <div class="bar__title">Keyword Research</div>
                                            <div class="bar__value">70%</div>
                                        </div>
                                        <div class="bar__scale">
                                            <div class="bar__progress"></div>
                                        </div>
                                    </div>
        
                                    <div class="bar" data-percent="80%">
                                        <div class="bar__status">
                                            <div class="bar__title">Technical SEO Audit</div>
                                            <div class="bar__value">80%</div>
                                        </div>
                                        <div class="bar__scale">
                                            <div class="bar__progress"></div>
                                        </div>
                                    </div>
        
                                    <div class="bar" data-percent="60%">
                                        <div class="bar__status">
                                            <div class="bar__title">Content Optimization</div>
                                            <div class="bar__value">60%</div>
                                        </div>
                                        <div class="bar__scale">
                                            <div class="bar__progress"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="section plans">
                    <div class="container">
                        <div class="row">
                            <div class="heading">
                                <h4 class="subtitle subtitle__dot-before subtitle__dot-after">Choose your plan</h4>
                                <h2 class="title">Flexible Pricing Plans</h2>
                                <p class="paragraph">We have experience working with large and small businesses and are ready to develop a targeted strategy and plan that’s just right for you.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33">
                                <div class="plans__item plans__item--standard">
                                    <div class="plans__label">Standard</div>
                                    <div class="plans__image">
                                        <img src="assets/images/pricing1.png">
                                    </div>
                                    <div class="plans__price"><sup>$</sup> 69.99</div>
                                    <div class="plans__package">Monthly Package</div>
                                    <div class="plans__points">
                                        <p class="plans__point">Social Media Marketing</p>
                                        <p class="plans__point">2.100 Keywords</p>
                                        <p class="plans__point">One Way Link Building</p>
                                        <p class="plans__point">5 Free Optimization</p>
                                        <p class="plans__point">3 Press Releases</p>
                                    </div>
                                    <div class="plans__action">
                                        <a href="#" class="button button--blue button--image">Choose Plane
                                            <span>
                                                <i class="flaticon-right-arrow-1"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="plans__item plans__item--filled plans__item--economy">
                                    <div class="plans__label">Economy</div>
                                    <div class="plans__image">
                                        <img src="assets/images/pricing2.png">
                                    </div>
                                    <div class="plans__price"><sup>$</sup> 79.99</div>
                                    <div class="plans__package">Monthly Package</div>
                                    <div class="plans__points">
                                        <p class="plans__point">Social Media Marketing</p>
                                        <p class="plans__point">3.100 Keywords</p>
                                        <p class="plans__point">One Way Link Building</p>
                                        <p class="plans__point">10 Free Optimization</p>
                                        <p class="plans__point">5 Press Releases</p>
                                    </div>
                                    
                                    <div class="plans__action">
                                        <a href="#" class="button button--orange-revert button--image">Choose Plane
                                            <span>
                                                <i class="flaticon-right-arrow-1"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="plans__item plans__item--executive">
                                    <div class="plans__label">Executive</div>
                                    <div class="plans__image">
                                        <img src="assets/images/pricing3.png">
                                    </div>
                                    <div class="plans__price"><sup>$</sup> 89.99</div>
                                    <div class="plans__package">Monthly Package</div>
                                    <div class="plans__points">
                                        <p class="plans__point">Social Media Marketing</p>
                                        <p class="plans__point">5.100 Keywords</p>
                                        <p class="plans__point">One Way Link Building</p>
                                        <p class="plans__point">15 Free Optimization</p>
                                        <p class="plans__point">10 Press Releases</p>
                                    </div>
                                    
                                    <div class="plans__action">
                                        <a href="#" class="button button--blue-dark button--image">Choose Plane
                                            <span>
                                                <i class="flaticon-right-arrow-1"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <section class="section partners">
                    <div class="container">
                        <div class="row">
                            <div class="col col-16">
                                <div class="partners__item">
                                    <img src="assets/images/c-logo2-2.png" alt="SEO Mind">
                                </div>
                            </div>
                            <div class="col col-16">
                                <div class="partners__item">
                                    <img src="assets/images/c-logo2-1.png" alt="IBM Media">
                                </div>
                            </div>
                            <div class="col col-16">
                                <div class="partners__item">
                                    <img src="assets/images/c-logo2-6.png" alt="Greenhost">
                                </div>
                            </div>
                            <div class="col col-16">
                                <div class="partners__item">
                                    <img src="assets/images/c-logo2-5.png" alt="Yodgy">
                                </div>
                            </div>
                            <div class="col col-16">
                                <div class="partners__item">
                                    <img src="assets/images/c-logo2-4.png" alt="Atomic SEO">
                                </div>
                            </div>
                            <div class="col col-16">
                                <div class="partners__item">
                                    <img src="assets/images/c-logo2-3.png" alt="Boosterio">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- testimonials slider -->
        
            </div>

        </main>

		//= ../blocks/footer.html

	</div><!-- #page -->

    <script type="text/javascript" src="assets/scripts/blocks/why-choose.js"></script>
    <script type="text/javascript" src="assets/scripts/partials/switcher.js"></script>
    <script type="text/javascript" src="assets/scripts/common.js"></script>
</body>
</html>