<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Team Single – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="assets/styles/common.css" media="all">
    <link rel="stylesheet" href="assets/styles/pages/team-single.css" media="all">
</head>
<body>
	<div id="page" class="site team-single">

		//= ../blocks/header.html

		<main class="main"> 

            <div class="main__content">
                <div class="container container--fluid">
                    <div class="row">
                        <div class="col col-50">
                            <div class="team-single__photo">
                                <div class="team-single__photo_bg"></div>
                                <img src="assets/images/single-team.png" alt="">
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="team-single__about">
                                <div class="team-single__information">
                                    <div class="team-single__work">Web designer</div>
                                    <div class="team-single__name title">Gina Bruno</div>
                                    <div class="team-single__description">
                                        Researching keywords is less about targeting search terms that talk about what your site provides 
                                        and more about bringing the right visitors to your site. By targeting the motivations of customers 
                                        and where they are in their buyer’s journey, researching keywords can be a bridge between a company.
                                    </div>
                                </div>
                                <div class="team-single__experience">
                                    <div class="row">
                                        <div class="col-33">
                                            <div class="team-single__experience_item">
                                                <div class="team-single__experience_name">Onum Company</div>
                                                <div class="team-single__experience_work">Web Designer, Illustrator</div>
                                            </div>
                                        </div>
                                        <div class="col-33">
                                            <div class="team-single__experience_item">
                                                <div class="team-single__experience_name">Torex Company</div>
                                                <div class="team-single__experience_work">Motion Designer, Illustrator</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-33">
                                            <div class="team-single__experience_item">
                                                <div class="team-single__experience_name">Media Group</div>
                                                <div class="team-single__experience_work">Photographer, UI Designer</div>
                                            </div>
                                        </div>
                                        <div class="col-33">
                                            <div class="team-single__experience_item">
                                                <div class="team-single__experience_name">Nimkus 2000</div>
                                                <div class="team-single__experience_work">PHP Developer, Photographer</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>



        </main>

		//= ../blocks/footer.html

	</div><!-- #page -->

</body>
</html>