<header class="header">
    <div class="header__top">
        <div class="header__links">

        </div>
        <div class="header__actions">
            
        </div>
    </div>
    <div class="header__main">
        <div class="header-logo">
            <img src="assets/images/logo.png">
        </div>
    
        <nav class="menu">
            <a href="#" class="menu-item">Home</a>
            <a href="#" class="menu-item">Services</a>
            <a href="#" class="menu-item">Pages</a>
            <a href="#" class="menu-item">Blog</a>
            <a href="#" class="menu-item">Portfolio</a>
            <a href="#" class="menu-item">Contacts</a>
        </nav>
    
        <div class="header-actions">
            <a href="#" class="button button--small button--blue-dark">Contact Us</a>
        </div>
    </div>
</header>