@import '../utils/vars.scss';

.header {
    background-color: $white;
    box-shadow: 7px 5px 30px rgba(#2a4371, 0.15);
    padding: 0 40px;
    z-index: 111;
    position: relative;

    &__top {
        height: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        box-sizing: border-box;
    }

    &__main {
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            margin-left: 20px;
        }
    }

    &__flags {
        display: flex;
        align-items: center;

        .current-lang {
            display: none;
        }

        .lang-item {
            margin-right: 15px;
            transition: all linear .4s;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: .7;
            }
        }
    }

    &__menu {
        height: 100%;

        @media screen and (max-width: 768px) {
            height: 100vh;
            position: absolute;
            z-index: 22;
            top: 0;
            width: 310px;
            right: 0;
            background-color: $white;
            padding: 35px;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }

    &-item {
        font-size: $default;
        font-family: "RedHatDisplay", Arial, sans-serif;
        font-weight: 700;
        margin-right: 30px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        transition: all 0.3s linear;

        @media screen and (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 10px;
            width: 100%;
        }

        &:last-child {
            margin-right: 0;
        }

        &:before, 
        &:after {
            position: absolute;
            content: "";
            height: 5px;
            width: 0%;
            bottom: -3px;
            left: 0;
            background: $blue;
            display: block;
            transition: all 0.3s linear;
            border-top-left-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 5px;
        }

        &:before {
            left: auto;
            right: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 0;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &:after {
            border-radius: 3px;
            height: 2px;
            width: 100%;
            left: 0;
            right: auto;
        }

        &:hover {
            a {
                color: $black;
            }

            &:before {
                @media screen and (min-width: 768px) {
                    left: 50%;
                    width: 50%;
                }
            }

            &:after {
                @media screen and (min-width: 768px) {
                    left: auto;
                    right: 50%;
                    width: 50%;
                }
            }
        }

        a {
            &:hover {
                color: $black;
            }
        }
    }
}