@import '../utils/vars.scss';

.header {
    background-color: $white;
    box-shadow: 7px 5px 30px rgba(#2a4371, 0.15);
    padding: 0 40px;
    z-index: 111;
    position: relative;

    &__top {
        height: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        box-sizing: border-box;
    }

    &__main {
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            margin-left: 20px;
        }
    }

    &__flags {
        display: flex;
        align-items: center;

        .current-lang {
            display: none;
        }

        .lang-item {
            margin-right: 15px;
            transition: all linear .4s;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: .7;
            }
        }
    }

    &__menu {
        height: 100%;

        &_container {
            height: 100%;
        }

        @media screen and (max-width: 768px) {
            height: 100vh;
            position: absolute;
            top: 0;
            width: 310px;
            right: 0;
            background-color: $white;
            padding: 35px;
            z-index: 9999;
            transform: translateX(100%);
            transition: all 0.3s linear;
        }

        &.active {
            transform: translateX(0);
            position: fixed;
            padding-top: 50px;
        }
    }

    &__mobile-menu {
        background: #f0f6ff;
        width: 50px;
        height: 50px;
        line-height: 60px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }

        svg, img {
            width: 20px;
            fill: #1a1b1e;
        }
    }

    &__overlay {
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        background: rgba(0,0,0,.7);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s linear;

        &.active {
            visibility: visible;
            opacity: 1;
            z-index: 9998;
        }
    }

    &__close {
        width: 100%;
        text-align: right;
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        z-index: 9999;
    }

    &-item {
        font-size: $default;
        font-family: "RedHatDisplay", "Montserrat", Arial, sans-serif;
        font-weight: 700;
        margin-right: 30px;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        transition: all 0.3s linear;

        @media screen and (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 10px;
            width: 100%;
            font-size: 14px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:before, 
        &:after {
            position: absolute;
            content: "";
            height: 5px;
            width: 0%;
            bottom: -3px;
            left: 0;
            background: $blue;
            display: block;
            transition: all 0.3s linear;
            border-top-left-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 5px;
        }

        &:before {
            left: auto;
            right: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 0;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &:after {
            @media screen and (max-width: 768px) {
                border-radius: 3px;
                height: 1px;
                background-color: #e5e5e5;
                width: 100%;
                left: 0;
                right: auto;
            }
        }

        &:hover,
        &.current-menu-item {
            a {
                color: $blue;
            }

            &:before {
                @media screen and (min-width: 768px) {
                    left: 50%;
                    width: 50%;
                }
            }

            &:after {
                @media screen and (min-width: 768px) {
                    left: auto;
                    right: 50%;
                    width: 50%;
                }
            }
        }

        &:hover {
            .sub-menu {
                @media screen and (min-width: 768px) {
                    visibility: visible;
                    opacity: 1; 
                    transform: translateY(0);
                }
            }
        }

        a {
            &:hover {
                color: $black;
            }

            @media screen and (max-width: 768px) {
                padding: 10px 0;
            }
        }

        &.menu-item-has-children {
            & > a {
                padding-right: 17px;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    display: block;
                    position: relative;
                    color: $black;
                }

                &:after {
                    position: absolute;
                    width: 11px;
                    height: 6px;
                    right: 0;
                    top: 50%;
                    margin-top: -5px;
                    font-family: "Flaticon";
                    content: "";
                    font-size: 11px;
                    line-height: 1;
                    color: rgba(85,105,135,.5);
                    font-weight: 500;
                }
            }

            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
            }
        }

        .sub-menu {
            margin: 0;
            padding: 25px 0;
            background: $white;
            box-shadow: 7px 5px 30px rgba(42, 67, 113, .15);
            border-radius: 15px;
            position: absolute;
            top: calc(100% + 10px);
            left: -40px;
            transform: translateY(30px);
            transition: all 0.3s ease-in-out;
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            min-width: 290px;

            @media screen and (max-width: 768px) {
                box-shadow: none;
                border-radius: 0;
                width: 100%;
                min-width: initial;
                top: auto;
                position: relative;
                left: 0;
                padding: 0;
                visibility: visible;
                opacity: 1;
                transform: none;

                overflow: hidden;
                height: 0;
                transition: height 0.5s;
            }

            &:before {
                content: "";
                position: absolute;
                height: 10px;
                width: 100%;
                top: -10px;
                left: 0;
            }

            .menu-item {
                margin-right: 0;
                display: block;
                position: relative;
                padding: 0 40px;

                &:before,
                &:after {
                    display: none;
                }

                a {
                    line-height: 30px;
                    display: block;
                    padding: 5px 0;
                    position: relative;
                    text-decoration: none;
                    outline: none;
                    text-transform: none;
                    transition: all 0.2s linear;

                    &:hover {
                        @media screen and (min-width: 768px) {
                            color: $blue;
                            padding-left: 15px;
                        }

                        &:before {
                            @media screen and (min-width: 768px) {
                                left: 0;
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    &:before {
                        @media screen and (min-width: 768px) {
                            position: absolute;
                            content: "";
                            top: 50%;
                            left: -15px;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background-color: $blue;
                            transform: translateY(-50%);
                            transition: all 0.2s linear;
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    padding: 0 15px;
                    height: auto;
                    margin-bottom: 0;
                }
            }
        }
    }
}