.block-bg {
  &#{&} {
    &--transparent {
      background-color: transparent;
    }
    &--white {
      background-color: white;
    }
    &--light-blue {
      background-color: $blue-light-2;
    }
    &--orange {
      background-color: $orange;
    }
    &--black {
      background-color: $black;
    }
  }
  
}
