$white: #fff;
$black: #1a1b1e;
$black-light: #606060;
$gray: #a5b7d2;
$gray-dark: #687d9c;
$orange: #fe4c1c;
$blue: #00c3ff;
$blue-hover: #0989df;
$blue-light-4: #e6e6e6;
$blue-light-3: #707f96;
$blue-light-2: #f0f6ff;
$blue-light: #9ee8ff;
$blue-dark: #0160e7;

$DEFAULT_FONT_SIZE: 16px;

$container-content-width: 1170px;

$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  mdpi: 1300px,
  hidpi: 1500px,
  hpdpi: 1620px,
);

$grid-breakpoints-mb: (
  xs: 0,
  sm: 320px,
  md: 360px,
  lg: 375px,
  xl: 414px,
);