@import '../utils/vars.scss';

.faq {
    .main__content {
        background-color: $white;
        padding: 90px 0 400px;

        .heading {
            text-align: left;
            margin: 0 15px;
        }
    }

    

    .support {
        padding-top: 400px;
        min-height: 1050px;
    }
}