@import '../utils/vars.scss';

.portfolio {
    .main__content {
        margin-top: 100px;
        padding-bottom: 100px;
    
        .heading {
            margin-bottom: 50px;
        }
    }
    
    &__item {
        margin-bottom: 30px;
        transition: all linear 0.4s;
        position: relative;
    
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    
        &:hover {
            opacity: 0.8;
        }
    
        &_information {
            position: absolute;
            right: 0;
            bottom: 20px;
            width: 73%;
            height: 100px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            background-color: $blue;
            background-image: linear-gradient(-55deg, #04dbf1 0%, #0039e4 100%);
            box-sizing: border-box;
            padding: 20px 30px;
        }
    
        &_name {
            color: $white;
            font-size: $default;
            margin-bottom: 15px;
            font-weight: 500;
        }
    
        &_category {
            color: #a5b7d2;
            font-family: "RedHatDisplay", "Montserrat";
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.6px;
        }
    }
}