@import '../utils/vars.scss';

.service {
    .switcher {
        margin-bottom: 30px;
    }

    .why-choose {
        background: #f0f6ff;
    }

    .steps {
        margin-top: 100px;
        margin-bottom: 100px;

        &__item {
            &:hover {
                transform: none;
            }
        }
    }

    .advantages {
        margin-bottom: 100px;
    }

    .services-list {
        padding-bottom: 0;
    }

    .numbers {
        padding-top: 290px;
    }
}