@import '../utils/vars.scss';

.service {
    .switcher {
        margin-bottom: 30px;
    }

    .why-choose {
        background: #f0f6ff;
    }

    .plans {
        padding: 100px 0;
        margin-bottom: 100px;

        @media screen and (max-width: 1024px) {
            margin-bottom: 0;
        }
    }

    .steps {
        margin-top: 100px;
        margin-bottom: 100px;

        &__item {
            &:hover {
                transform: none;
            }
        }
    }

    .advantages {
        margin-bottom: 100px;
    }

    .services-list {
        padding-bottom: 0;
    }

    .seo-form {
        transform: translateY(50%); 
    }

    .numbers {
        padding-top: 290px;
    }
}