@import '../utils/vars.scss';
@import '../mixins/breakpoints';
.team {
    &__list {
        padding: 120px 0;
        background-color: #f0f6ff;
        @include media-breakpoint-down(lg) {
            padding: 100px 0 120px;
        }
        @include media-breakpoint-down(xs) {
            padding: 85px 0 100px;
        }
        .heading {
            max-width: 600px;
            width: 100%;
            margin: 0 auto 60px;
            @include media-breakpoint-down(lg) {
                margin: 0 auto 50px;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 60px;
        @include media-breakpoint-down(lg) {
            row-gap: 50px;
        }
        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr 1fr;
        }
        @include media-breakpoint-down(xs) {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    &__card {
        position: relative;
        border-radius: 15px;
        display: block;
        z-index: 11;
        font-size: 0;
    
        img {
            width: 100%;
            background-color: rgba(0,0,0,0.1);
        }
    
        &_info {
            position: relative;
            padding: 30px 15px;
            box-sizing: border-box;
            left: 0;
            right: 0;
            margin: -80px 25px 0;
            box-shadow: 7px 5px 30px rgba(42, 67, 113, 0.15);
            border-radius: 15px;
            background-color: #ffffff;
            text-align: center;
            z-index: 22;
            @include media-breakpoint-down(xs) {
                padding: 25px 15px;
            }
        }
    }
    
    &__name {
        font-family: "RedHatDisplay", "Montserrat";
        font-size: 24px;
        font-weight: 700; 
        margin-bottom: 8px;
    }
    
    &__work {
        color: #606060;
        font-size: 16px;
    }
    
    &__social {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 60px;
        bottom: -17px;
        @include media-breakpoint-down(sm) {
            right: 50px;
            bottom: -15px;
        }
        &_item {
            width: 35px;
            height: 35px;
            position: relative;
            @include media-breakpoint-down(sm) {
                width: 28px;
                height: 28px;
            }
        }
    
        &_add {
            box-shadow: 7px 5px 18px rgba(21, 183, 236, 0.3);
            background-color: #15b7ec;
            border-radius: 50%;
    
            &:after {
                position: absolute;
                content: '';
                width: 14px;
                height: 14px;
                background-image: url('../../../assets/images/add.png.webp');
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}