@import '../utils/vars.scss';

.advantages {
    &__image {
        @media screen and (max-width: 1024px) {
            margin-bottom: 60px;
            text-align: center;
        }

        img {
            @media screen and (max-width: 768px) {
                padding: 0 50px;
            }

            @media screen and (max-width: 568px) {
                padding: 0;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: 1024px) {
            padding-left: 100px;
        }
    }

    &__counters {
        margin-top: 40px;

        &_item {
            @media screen and (max-width: 768px) {
                width: 33.33%;
                text-align: center;
            }
        }
        
        &_count {
            color: $blue-dark;
            font-family: "RedHatDisplay", "Montserrat";
            font-size: 36px;
            font-weight: 900; 
            margin-bottom: 5px;
        }
        &_text {
            color: $black;
            font-family: "RedHatDisplay", "Montserrat";
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.7px;
        }
    }
}