@import '../mixins/all';

.partners {
  display: flex;
  justify-content: space-between;
  padding: 90px 100px;

  @include media-breakpoint-down(md) {
    padding: 60px 0;
  }
  @include media-breakpoint-down(xs) {
    padding: 40px 0;
  }

  &__item {
    filter: contrast(0);
    opacity: 0.7;
    transition: filter, -webkit-filter, opacity 0.5s, 0.5s, 0.5s;
    will-change: filter, -webkit-filter, opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 1;
      filter: none;
    }

    @include media-breakpoint-down(lg) {
      opacity: 1;
      filter: none;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  .slider {
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
    .col {
      @include media-breakpoint-down(md) {
        width: 33.33%;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      @include media-breakpoint-down(xs) {
        width: 50%;
      }
    }
  }
}