@import '../utils/vars.scss';

.results {
    background-color: #f0f6ff;
    padding: 130px 0;

    &__bg {
        background-image: url(../../../assets/images/map.png);
        width: 1400px;
        height: 100%;
        background-position: center center;
        z-index: 1;
        user-select: none;
        position: absolute;
        top: 0;
    }

    .heading {
        width: 50%;
        margin: 0 auto;
    }

    &__content {
        position: relative;
        min-height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__circle {
        width: 500px;
        height: 500px;
        z-index: 2;
        position: relative;
    }
}