@import '../utils/vars.scss';

.skills {
    padding: 120px 0;
    
    &__item {
        position: relative;
    }

    &__round {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 15px solid #f0f6ff;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        font-family: "RedHatDisplay", "Montserrat";
        font-size: 28px;
        font-weight: 900;

    }

    .col {
        &:nth-child(even) {
            margin-top: 50px;
        }
    }

    &__content {
        position: relative;
        width: 210px;
        height: 210px;
        margin: 0 auto;
    }

    .donut {
        circle {
            transition: stroke-dasharray 0.6s;
            will-change: stroke-dasharray;
        }
    }

    &__name {
        color: $black;
        font-family: "RedHatDisplay", "Montserrat";
        font-size: 22px;
        font-weight: 700; 
        margin-top: 10px;
        text-align: center;
    }
}