@import '../utils/vars.scss';

.team-slider {
    padding: 50px 0;
    position: relative;

    .slider {
        display: flex !important;
        margin-top: 50px;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
            display: flex;
            overflow-x: scroll;
            flex-wrap: nowrap;
        }

        .col {
            @media screen and (max-width: 768px) {
                width: 80%;
                flex: none;
            }  
        }
    }
}