@import "../mixins/all";

.testimonials {
  position: relative;
  padding: 90px 0 90px;
  @include media-breakpoint-down(lg) {
    padding: 60px 0;
  }
  &__container {
    position: relative;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 30px;
    align-items: center;
    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
    }
  }
  &__col {
    &:first-child {
      justify-self: flex-end;
      padding: 0 45px 0 50px;
      @include media-breakpoint-down(lg) {
        padding: 0 30px;
        justify-self: flex-start;
      }
      @include media-breakpoint-down(sm) {
        padding: 0 15px;
      }
    }
    &:last-child {
      padding: 0 75px 0 50px;
      @include media-breakpoint-down(mdpi) {
        padding: 0 40px;
      }
      @include media-breakpoint-down(lg) {
        justify-self: center;
      }
      @include media-breakpoint-down(sm) {
        padding: 0 15px;
      }
    }
  }
  &__bg {
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    max-width: calc(50% + 60px);
    width: 100%;
    transform: translateY(-50%);
    z-index: 0;
    @include media-breakpoint-down(mdpi) {
      height: 130%;
      top: calc(50% - 15px);
      max-width: calc(50% + 80px);
    }
    @include media-breakpoint-down(lg) {
      top: -150px;
      transform: none;
      max-width: 100%;
      height: 100%;
    }
    @include media-breakpoint-down(sm) {
      top: -100px;
    }
    @include media-breakpoint-down(xs) {
      top: -90px;
    }
    img, picture {
      width: 100%;
      @include media-breakpoint-down(mdpi) {
        object-position: 100% 50%;
        height: 100%;
        object-fit: cover;
      }
      @include media-breakpoint-down(lg) {
        object-position: 0% 50%;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    @include media-breakpoint-down(lg) {
      max-width: none;
    }

    .description {
      margin-bottom: 20px;
    }
  }

  &__image {
    position: relative;
    @include media-breakpoint-down(lg) {
      max-width: 760px;
    }
    img {
      width: 100%;
    }
  }
}
