@import '../utils/vars.scss';
@import '../mixins/breakpoints';

.who-we-are {
    padding: 125px 0;
    @include media-breakpoint-down(md) {
        padding: 90px 0;
    }
    @include media-breakpoint-down(sm) {
        padding: 70px 0;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 40px;
        align-items: center;
        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr;
        }
    }
    &__image {
        position: relative;
        @include media-breakpoint-down(md) {
            max-width: 460px;
            width: 100%;
            margin: 0 auto;
        }
        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    &__advisors {
        width: 271px;
        height: 263px;
        position: absolute;
        bottom: -100px;
        left: 0;
        background-image: url('../../../assets/images/about_advisors.png.webp');
        background-repeat: no-repeat;
        color: $white;
        text-align: center;
        @include media-breakpoint-down(md) {
            transform: scale(0.7);
        }

        &_content {
            display: flex;
            flex-direction: column;
            width: 62%;
            padding-left: 35px;
            padding-top: 60px;
            @include media-breakpoint-down(md) {
                width: 70%;
                padding-left: 20px;
            }
        }

        &_count {
            font-family: "RedHatDisplay", "Montserrat";
            font-size: 48px;
            font-weight: 900;
            margin-bottom: 10px;
        }

        &_text {
            font-family: "RedHatDisplay", "Montserrat";
            font-size: 14px;
            font-weight: 900;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
        }
    }

    &__content {
        padding-left: 100px;
        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
        .description {
            margin-bottom: 20px;
        }
    }

    &__video {
        color: #1a1b1e;
        font-family: "RedHatDisplay", "Montserrat";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-top: 30px;
        letter-spacing: 0.7px;

        .button {
            margin-right: 30px;
            flex-shrink: 0;
        }
    }
}