<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Blog – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">

    <link rel="stylesheet" href="assets/styles/common.css" media="all">
    <link rel="stylesheet" href="assets/styles/pages/blog.css" media="all">
    <link rel="stylesheet" href="assets/styles/jumbotron__inner.css" media="all">
</head>
<body>
	<div id="page" class="site blog">

        <header class="header">
            <div class="header__top">
                <div class="header__links">
        
                </div>
                <div class="header__actions">
                    
                </div>
            </div>
            <div class="header__main">
                <div class="header-logo">
                    <img src="assets/images/logo.png">
                </div>
            
                <nav class="menu">
                    <a href="#" class="menu-item">Home</a>
                    <a href="#" class="menu-item">Services</a>
                    <a href="#" class="menu-item">Pages</a>
                    <a href="#" class="menu-item">Blog</a>
                    <a href="#" class="menu-item">Portfolio</a>
                    <a href="#" class="menu-item">Contacts</a>
                </nav>
            
                <div class="header-actions">
                    <a href="#" class="button button--small button--blue-dark">Contact Us</a>
                </div>
            </div>
        </header>

        <main class="main">

            <section class="section jumbotron__inner">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h1 class="title">Blog Grid</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs__item active" href="#">Home</a> >
                                <span class="breadcrumbs__item">Blog Grid</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="blog__content">
                <div class="container">
                    <div class="row">
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/1837.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">15 SEO Best Practices: Website Architecture</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/14717.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">What Makes a Quality Backlink?</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/2447945.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">A Guide to Google’s SEO Algorithm Updates</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div> 
                        
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/90179.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">15 SEO Best Practices: Website Architecture</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/2529075.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">What Makes a Quality Backlink?</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/88428.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">A Guide to Google’s SEO Algorithm Updates</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div> 

                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/2002.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">15 SEO Best Practices: Website Architecture</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/1247807086.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">What Makes a Quality Backlink?</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/74467.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">A Guide to Google’s SEO Algorithm Updates</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div> 
                        
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/9733.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">15 SEO Best Practices: Website Architecture</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/31147.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">What Makes a Quality Backlink?</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="card">
                                <div class="article-label">Marketing</div>
                                <div class="card__image">
                                    <img src="assets/images/1992.png">
                                </div>
                                <div class="card__content">
                                    <div class="article-state">
                                        <div class="article-state__item article-state__author">
                                            <i class="flaticon-user"></i>
                                            By Pablo Villalpando
                                        </div>
                                        <div class="article-state__item article-state__date">
                                            <i class="flaticon-clock"></i>
                                            October 10, 2019
                                        </div>
                                    </div>
                                    <div class="card__title">A Guide to Google’s SEO Algorithm Updates</div>
                                    <div class="card__excerpt paragraph">Our campaigns get your business in front of the right people at the right time...</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="blog__buttons">
                        <a href="#" class="button button--orange button--image">Load More</a>
                    </div>
                </div>
            </div>

        </main>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col col-25">
                        <div class="footer__column">
                            <h6 class="footer__title">Services</h6>
        
                            <ul class="footer__menu">
                                <li class="footer__item">
                                    <a href="#" class="link">SEO for Small Business</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">SEO for Local Services</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Enterprise SEO</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">National SEO</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">International SEO</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-25">
                        <div class="footer__column">
                            <h6 class="footer__title">Learn</h6>
        
                            <ul class="footer__menu">
                                <li class="footer__item">
                                    <a href="#" class="link">Why SEO Matters</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">How to Choose an Agency</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Keyword Research Explained</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">On Page SEO Explained</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Off Page SEO Explained</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-25">
                        <div class="footer__column">
                            <h6 class="footer__title">Company</h6>
        
                            <ul class="footer__menu">
                                <li class="footer__item">
                                    <a href="#" class="link">About Company</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">IFor Customers</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">SEO Blog &amp; News</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Careers &amp; Reviews</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Sitemap</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-25">
                        <div class="footer__column">
                            <h6 class="footer__title">Subscribe</h6>
        
                            <p class="footer__text">Follow our newsletter to stay updated about agency.</p>
        
                            <form class="form form__subscribe">
                                <div class="form__group">
                                    <input placeholder="Your mail" class="form__control">
                                    <button class="form__button button--rounded">
                                        <i class="flaticon-send"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>

    </div><!-- #page -->
</body>
</html>