<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Portfolio Single – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="assets/styles/common.css" media="all">
    <link rel="stylesheet" href="assets/styles/pages/case.css" media="all">
    <link rel="stylesheet" href="assets/styles/jumbotron__inner.css" media="all">
    <link rel="stylesheet" href="assets/styles/comments.css" media="all">
</head>
<body>
	<div id="page" class="site case">

        <header class="header">
            <div class="header__top">
                <div class="header__links">
        
                </div>
                <div class="header__actions">
                    
                </div>
            </div>
            <div class="header__main">
                <div class="header-logo">
                    <img src="assets/images/logo.png">
                </div>
            
                <nav class="menu">
                    <a href="#" class="menu-item">Home</a>
                    <a href="#" class="menu-item">Services</a>
                    <a href="#" class="menu-item">Pages</a>
                    <a href="#" class="menu-item">Blog</a>
                    <a href="#" class="menu-item">Portfolio</a>
                    <a href="#" class="menu-item">Contacts</a>
                </nav>
            
                <div class="header-actions">
                    <a href="#" class="button button--small button--blue-dark">Contact Us</a>
                </div>
            </div>
        </header>

        <main class="main">

            <section class="section jumbotron__inner">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h1 class="title">Portfolio Single</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs__item active" href="#">Home</a> >
                                <a class="breadcrumbs__item active" href="#">Portfolio</a> >
                                <span class="breadcrumbs__item">Cereal Project</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="case__content">
                <div class="container">
                    <h1 class="title">Cereal Project</h1>
                    <div class="case__about">
                        <div class="row">
                            <div class="col col-20">
                                <div class="case__about_title">Published</div>
                                <div class="case__about_value">November 22, 2019</div>
                            </div>
                            <div class="col col-20">
                                <div class="case__about_title">Category</div>
                                <div class="case__about_value">Development / Media</div>
                            </div>
                            <div class="col col-20">
                                <div class="case__about_title">Client</div>
                                <div class="case__about_value">Oceanthemes</div>
                            </div>
                            <div class="col col-40 col-right">
                                social
                            </div>
                        </div>
                    </div>

                    <div class="case__image">
                        <img src="assets/images/case_image.png">
                    </div>

                    <div class="case__section">
                        <h2 class="case__section_title">
                            01. <span>The Challenge & Solution</span>
                        </h2>
                        <p class="paragraph">
                            One of the principal decisions that startup owners have to make is whether or not to engage in SEO. 
                            One common consideration is the cost of investing in an SEO campaign versus possible returns. 
                            Another is the daunting list of SEO terminologies, which may overwhelm newcomers to the e-commerce
                            and website scene. If you are a new online entrepreneur but are not convinced of the benefits of 
                            SEO, then this article is for you!  Here are some of the reasons why SEO is important and why 
                            you should consider it as a marketing technique. <b>SEO is less expensive than other online marketing 
                            approaches.</b> It also offers higher reward rates when compared to other techniques such as social 
                            media marketing, pay per click advertising, and email marketing. While you may need to defray a 
                            substantial amount to cover initial SEO planning and processes that include website design, 
                            programming, and strategizing, you can be sure to get faster and more long-term results.
                        </p>
                        <div class="blockquote">
                            <div class="blockquote__text">“I cannot give you the formula for success, but I can give you the formula for failure. It is: Try to please everybody.”</div>
                            <div class="blockquote__author">Herbert Bayard Swope</div>
                        </div>
                        <div class="row case__screens">
                            <div class="col col-50">
                                <img src="assets/images/case_image.png">
                            </div>
                            <div class="col col-50">
                                <img src="assets/images/case_image.png">
                            </div>
                        </div>
                    </div>

                    <div class="case__section">
                        <h2 class="case__section_title">
                            02. <span>Working Process</span>
                        </h2>
                        <p class="paragraph">
                            One SEO component called off-site SEO ensures that users of external pages or of social 
                            media can find your website. Being optimized for SEO increases the site’s potential to 
                            draw customers from other platforms other than the search engine. For instance, when you 
                            post content and links to your page on Facebook or Twitter, you are able to promote your 
                            website and attract more customers. One of the main goals of SEO is to attract the targeted 
                            audience <a class="link" href="#">through organic searches</a>. The number of visitors to your site influences your sales 
                            and subscriptions. It also promotes the marketing of your products and services. Increased 
                            inbound traffic is always good for business because it equates to more conversion opportunities.
                        </p>

                        <p class="paragraph">
                            Some SEO-related tools such as the Google Keyword Planner and Google Analytics provide 
                            quantitative data to help you understand your market, analyze the trends, and know your 
                            competitors’ standings. It helps you identify popular and valuable keywords so you can 
                            decide how to <b>structure or revise your content. </b>
                        </p>

                        <div class="case__image">
                            <img src="assets/images/case_image.png">
                        </div>
                    </div>

                    <div class="case__section">
                        <h2 class="case__section_title">
                            03. <span>Perfect Result</span>
                        </h2>

                        <p class="paragraph">
                            Implementing SEO strategies help you to rank higher on the search engine’s results page (SERP). 
                            This means that when your target customers search for products and services that your industry 
                            offers, they are likely to find your website. When you repeatedly appear on the SERP, users 
                            become aware of your site and your business. This increases the chances of landing potential 
                            customers on your webpages. <b>SEO is less expensive than other online marketing approaches.</b> 
                            It also offers higher reward rates when compared to other techniques such as social media 
                            marketing, pay per click advertising, and email marketing. 
                        </p>
                    </div>

                    <div class="comments">
                        <h2 class="title">
                            Comments
                            <span class="comments__count">(02)</span>
                        </h2>

                        <div class="comments__wrapper">
                            <div class="comment">
                                <div class="comment__image">
                                    <img src="../../assets/images/author-image.png">
                                </div>
                                <div class="comment__content">
                                    <div class="comment__name">Liza Benedict</div>
                                    <div class="comment__date">2 days ago</div>
                                    <div class="comment__text">
                                        SEO is always changing so leaving the strategy and tactics to Onum has more than paid for itself. 
                                        We estimate ROI is over 10 to 1 – I can’t say enough about this team.
                                    </div>
                                </div>

                                <a href="#" class="comment__link">Reply</a>
                            </div> 

                            <div class="comment comment__reply">
                                <div class="comment__image">
                                    <img src="../../assets/images/author-image.png">
                                </div>
                                <div class="comment__content">
                                    <div class="comment__name">Frank Barry</div>
                                    <div class="comment__date">2 days ago</div>
                                    <div class="comment__text">
                                        Onum  has been extremely consistent and reliable through our entire engagement. Our results speak for themselves.
                                    </div>
                                </div>

                                <a href="#" class="comment__link">Reply</a>
                            </div>
                            
                        </div>
                    </div>

                    <form class="form comments__form">
                        <h2 class="title">Leave a Comment</h2>
                        <div class="form__group">
                            <div class="row">
                                <div class="col col-50">
                                    <input placeholder="Your Name *" type="text" class="form__control" />
                                </div>
                                <div class="col col-50">
                                    <input placeholder="Your Email *" type="text" class="form__control" />
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <input placeholder="Website" type="text" class="form__control" />
                        </div>
                        <div class="form__group">
                            <textarea placeholder="Message..." type="text" class="form__control"></textarea>
                        </div>
                        <div class="form__buttons">
                            
                        </div>
                    </form>
                </div>
            </div>

        </main>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col col-25">
                        <div class="footer__column">
                            <h6 class="footer__title">Services</h6>
        
                            <ul class="footer__menu">
                                <li class="footer__item">
                                    <a href="#" class="link">SEO for Small Business</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">SEO for Local Services</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Enterprise SEO</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">National SEO</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">International SEO</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-25">
                        <div class="footer__column">
                            <h6 class="footer__title">Learn</h6>
        
                            <ul class="footer__menu">
                                <li class="footer__item">
                                    <a href="#" class="link">Why SEO Matters</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">How to Choose an Agency</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Keyword Research Explained</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">On Page SEO Explained</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Off Page SEO Explained</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-25">
                        <div class="footer__column">
                            <h6 class="footer__title">Company</h6>
        
                            <ul class="footer__menu">
                                <li class="footer__item">
                                    <a href="#" class="link">About Company</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">IFor Customers</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">SEO Blog &amp; News</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Careers &amp; Reviews</a>
                                </li>
                                <li class="footer__item">
                                    <a href="#" class="link">Sitemap</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-25">
                        <div class="footer__column">
                            <h6 class="footer__title">Subscribe</h6>
        
                            <p class="footer__text">Follow our newsletter to stay updated about agency.</p>
        
                            <form class="form form__subscribe">
                                <div class="form__group">
                                    <input placeholder="Your mail" class="form__control">
                                    <button class="form__button button--rounded">
                                        <i class="flaticon-send"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>

    </div><!-- #page -->

</body>
</html>