<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Team Single – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="assets/styles/common.css" media="all">
    <link rel="stylesheet" href="assets/styles/pages/team-single.css" media="all">
</head>
<body>
	<div id="page" class="site team-single">

		<header class="header">
		    <div class="header__top">
		        <div class="header__links">
		
		        </div>
		        <div class="header__actions">
		            
		        </div>
		    </div>
		    <div class="header__main">
		        <div class="header-logo">
		            <img src="assets/images/logo.png">
		        </div>
		    
		        <nav class="menu">
		            <a href="#" class="menu-item">Home</a>
		            <a href="#" class="menu-item">Services</a>
		            <a href="#" class="menu-item">Pages</a>
		            <a href="#" class="menu-item">Blog</a>
		            <a href="#" class="menu-item">Portfolio</a>
		            <a href="#" class="menu-item">Contacts</a>
		        </nav>
		    
		        <div class="header-actions">
		            <a href="#" class="button button--small button--blue-dark">Contact Us</a>
		        </div>
		    </div>
		</header>

		<main class="main"> 

            <div class="main__content">
                <div class="container container--fluid">
                    <div class="row">
                        <div class="col col-50">
                            <div class="team-single__photo">
                                <div class="team-single__photo_bg"></div>
                                <img src="assets/images/single-team.png" alt="">
                            </div>
                        </div>
                        <div class="col col-50">
                            <div class="team-single__about">
                                <div class="team-single__information">
                                    <div class="team-single__work">Web designer</div>
                                    <div class="team-single__name title">Gina Bruno</div>
                                    <div class="team-single__description">
                                        Researching keywords is less about targeting search terms that talk about what your site provides 
                                        and more about bringing the right visitors to your site. By targeting the motivations of customers 
                                        and where they are in their buyer’s journey, researching keywords can be a bridge between a company.
                                    </div>
                                </div>
                                <div class="team-single__experience">
                                    <div class="row">
                                        <div class="col-33">
                                            <div class="team-single__experience_item">
                                                <div class="team-single__experience_name">Onum Company</div>
                                                <div class="team-single__experience_work">Web Designer, Illustrator</div>
                                            </div>
                                        </div>
                                        <div class="col-33">
                                            <div class="team-single__experience_item">
                                                <div class="team-single__experience_name">Torex Company</div>
                                                <div class="team-single__experience_work">Motion Designer, Illustrator</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-33">
                                            <div class="team-single__experience_item">
                                                <div class="team-single__experience_name">Media Group</div>
                                                <div class="team-single__experience_work">Photographer, UI Designer</div>
                                            </div>
                                        </div>
                                        <div class="col-33">
                                            <div class="team-single__experience_item">
                                                <div class="team-single__experience_name">Nimkus 2000</div>
                                                <div class="team-single__experience_work">PHP Developer, Photographer</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>



        </main>

		<footer class="footer">
		    <div class="container">
		        <div class="row">
		            <div class="col col-25">
		                <div class="footer__column">
		                    <h6 class="footer__title">Services</h6>
		
		                    <ul class="footer__menu">
		                        <li class="footer__item">
		                            <a href="#" class="link">SEO for Small Business</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">SEO for Local Services</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Enterprise SEO</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">National SEO</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">International SEO</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		            <div class="col col-25">
		                <div class="footer__column">
		                    <h6 class="footer__title">Learn</h6>
		
		                    <ul class="footer__menu">
		                        <li class="footer__item">
		                            <a href="#" class="link">Why SEO Matters</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">How to Choose an Agency</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Keyword Research Explained</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">On Page SEO Explained</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Off Page SEO Explained</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		            <div class="col col-25">
		                <div class="footer__column">
		                    <h6 class="footer__title">Company</h6>
		
		                    <ul class="footer__menu">
		                        <li class="footer__item">
		                            <a href="#" class="link">About Company</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">IFor Customers</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">SEO Blog &amp; News</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Careers &amp; Reviews</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Sitemap</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		            <div class="col col-25">
		                <div class="footer__column">
		                    <h6 class="footer__title">Subscribe</h6>
		
		                    <p class="footer__text">Follow our newsletter to stay updated about agency.</p>
		
		                    <form class="form form__subscribe">
		                        <div class="form__group">
		                            <input placeholder="Your mail" class="form__control">
		                            <button class="form__button button--rounded">
		                                <i class="flaticon-send"></i>
		                            </button>
		                        </div>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
		
		<script
		  src="https://code.jquery.com/jquery-3.6.0.min.js"
		  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		  crossorigin="anonymous"></script>

	</div><!-- #page -->

</body>
</html>