<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<title>Team – Fancy Nerds</title>
    <meta name="robots" content="noindex,nofollow">

    <link rel="stylesheet" href="assets/styles/common.css" media="all">
    <link rel="stylesheet" href="assets/styles/pages/team.css" media="all">

    <link rel="stylesheet" href="assets/styles/jumbotron__inner.css" media="all">
    <link rel="stylesheet" href="assets/styles/partners.css" media="all">
</head>
<body>
	<div id="page" class="site team">

		<header class="header">
		    <div class="header__top">
		        <div class="header__links">
		
		        </div>
		        <div class="header__actions">
		            
		        </div>
		    </div>
		    <div class="header__main">
		        <div class="header-logo">
		            <img src="assets/images/logo.png">
		        </div>
		    
		        <nav class="menu">
		            <a href="#" class="menu-item">Home</a>
		            <a href="#" class="menu-item">Services</a>
		            <a href="#" class="menu-item">Pages</a>
		            <a href="#" class="menu-item">Blog</a>
		            <a href="#" class="menu-item">Portfolio</a>
		            <a href="#" class="menu-item">Contacts</a>
		        </nav>
		    
		        <div class="header-actions">
		            <a href="#" class="button button--small button--blue-dark">Contact Us</a>
		        </div>
		    </div>
		</header>

		<main class="main"> 

            <section class="section jumbotron__inner">
                <div class="container">
                    <div class="row">
                        <div class="heading">
                            <h1 class="title">Professional Team</h1>
                            <div class="breadcrumbs">
                                <a class="breadcrumbs__item active" href="#">Home</a> >
                                <span class="breadcrumbs__item">Professional Team</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="main__content">
                <div class="team__info">
                    <div class="container">
                        <div class="team__group">
                            <div class="team__photo">
                                <img src="assets/images/2443423454.png" alt="">

                                <div class="team__heading">
                                    <h4 class="subtitle subtitle__dot-before">Skilled team</h4>
                                    <h2 class="title">Meet Our Executive Team Members</h2>
                                    <p class="description">If we had a 'secret sauce' it would be our awesome people.</p>
                                </div>
                            </div>

                            <section class="section partners">
                                <div class="container container--fluid">
                                    <div class="row">
                                        <div class="col col-20">
                                            <div class="partners__item">
                                                <img src="assets/images/c-logo2-2.png" alt="SEO Mind">
                                            </div>
                                        </div>
                                        <div class="col col-20">
                                            <div class="partners__item">
                                                <img src="assets/images/c-logo2-1.png" alt="IBM Media">
                                            </div>
                                        </div>
                                        <div class="col col-20">
                                            <div class="partners__item">
                                                <img src="assets/images/c-logo2-6.png" alt="Greenhost">
                                            </div>
                                        </div>
                                        <div class="col col-20">
                                            <div class="partners__item">
                                                <img src="assets/images/c-logo2-5.png" alt="Yodgy">
                                            </div>
                                        </div>
                                        <div class="col col-20">
                                            <div class="partners__item">
                                                <img src="assets/images/c-logo2-4.png" alt="Atomic SEO">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="team__list">
                    <div class="container">
                        <div class="row">
                            <div class="heading">
                                <h4 class="subtitle subtitle__dot-before subtitle__dot-after">professional people</h4>
                                <h2 class="title">Our Leadership Team</h2>
                                <p class="paragraph">We have experience working with large and small businesses and are ready to develop a targeted strategy and plan that’s just right for you.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33">
                                <div class="team__card">
                                    <img src="assets/images/091224867853_huge.png" alt="">
                                    <div class="team__card_info">
                                        <div class="team__name">Gina Bruno</div>
                                        <div class="team__work">WEB Designer</div>
                                        <div class="team__social">
                                            <a href="#" class="team__social_item team__social_add"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="team__card">
                                    <img src="assets/images/09220761288_xl-2015.png" alt="">
                                    <div class="team__card_info">
                                        <div class="team__name">David Ferry</div>
                                        <div class="team__work">CTO of Company</div>
                                        <div class="team__social">
                                            <a href="#" class="team__social_item team__social_add"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="team__card">
                                    <img src="assets/images/09233064538_xl-2015.png" alt="">
                                    <div class="team__card_info">
                                        <div class="team__name">Christina Tores</div>
                                        <div class="team__work">CEO of Company</div>
                                        <div class="team__social">
                                            <a href="#" class="team__social_item team__social_add"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="team__card">
                                    <img src="assets/images/09284358002_xl-2015.png" alt="">
                                    <div class="team__card_info">
                                        <div class="team__name">Regina Blackly </div>
                                        <div class="team__work">WEB Developer</div>
                                        <div class="team__social">
                                            <a href="#" class="team__social_item team__social_add"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="team__card">
                                    <img src="assets/images/091396486544_huge.png" alt="">
                                    <div class="team__card_info">
                                        <div class="team__name">Olivia Chee</div>
                                        <div class="team__work">General Manager</div>
                                        <div class="team__social">
                                            <a href="#" class="team__social_item team__social_add"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-33">
                                <div class="team__card">
                                    <img src="assets/images/091414526951_huge.png" alt="">
                                    <div class="team__card_info">
                                        <div class="team__name">Robert Cooper</div>
                                        <div class="team__work">WEB Developer</div>
                                        <div class="team__social">
                                            <a href="#" class="team__social_item team__social_add"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>






        </main>

		<footer class="footer">
		    <div class="container">
		        <div class="row">
		            <div class="col col-25">
		                <div class="footer__column">
		                    <h6 class="footer__title">Services</h6>
		
		                    <ul class="footer__menu">
		                        <li class="footer__item">
		                            <a href="#" class="link">SEO for Small Business</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">SEO for Local Services</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Enterprise SEO</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">National SEO</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">International SEO</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		            <div class="col col-25">
		                <div class="footer__column">
		                    <h6 class="footer__title">Learn</h6>
		
		                    <ul class="footer__menu">
		                        <li class="footer__item">
		                            <a href="#" class="link">Why SEO Matters</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">How to Choose an Agency</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Keyword Research Explained</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">On Page SEO Explained</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Off Page SEO Explained</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		            <div class="col col-25">
		                <div class="footer__column">
		                    <h6 class="footer__title">Company</h6>
		
		                    <ul class="footer__menu">
		                        <li class="footer__item">
		                            <a href="#" class="link">About Company</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">IFor Customers</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">SEO Blog &amp; News</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Careers &amp; Reviews</a>
		                        </li>
		                        <li class="footer__item">
		                            <a href="#" class="link">Sitemap</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		            <div class="col col-25">
		                <div class="footer__column">
		                    <h6 class="footer__title">Subscribe</h6>
		
		                    <p class="footer__text">Follow our newsletter to stay updated about agency.</p>
		
		                    <form class="form form__subscribe">
		                        <div class="form__group">
		                            <input placeholder="Your mail" class="form__control">
		                            <button class="form__button button--rounded">
		                                <i class="flaticon-send"></i>
		                            </button>
		                        </div>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
		
		<script
		  src="https://code.jquery.com/jquery-3.6.0.min.js"
		  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		  crossorigin="anonymous"></script>

	</div><!-- #page -->

</body>
</html>
<div class=""></div>