@import "../mixins/all";

.article-state {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  &__item {
    color: $gray;
    font-family: "RedHatDisplay", "Montserrat";
    @include font-size(14px);
    font-weight: 500;
    display: inline-block;
    @at-root a#{&} {
      cursor: pointer;
      text-decoration: none;
      &, i {
        transition: color 300ms;
      }
      &:hover {
        color: $gray-dark;
        i {
          color: $orange;
        }
      }
    }
    &--white {
      color: $white;
      @at-root a#{&} {
        &:hover {
          color: $gray;
        }
      }
    }
    
    i {
      margin-right: 4px;

      &:before {
        font-size: 12px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
