@import "../mixins/all";

.breadcrumbs {
  color: $gray;

  &__item {
    color: $black-light;
    font-size: font-size(16px);
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    &.active {
      color: $gray;
    }
  }
}
