@import "../mixins/all";

.rank-math-breadcrumb {
  color: $gray;
  a, .last {
    
    font-size: font-size(16px);
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
  }
  a {
    color: $black-light;
    transition: 300ms color;
    &:hover {
      color: $orange;
    }
  }
  .last {
    color: $gray;
  }
}
