@import "../mixins/all";

.card {
  width: 100%;
  position: relative;
  box-shadow: 7px 5px 30px rgba(42, 67, 113, 0.1);
  border-radius: 15px;
  background-color: $white;
  &__image {
    height: 280px;
    display: block;
    picture {
      height: 100%;
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }

  &__content {
    padding: 30px;
    box-sizing: border-box;
  }

  &__title {
    color: $black;
    font-family: "RedHatDisplay", "Montserrat";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
    transition: 300ms color;
    display: block;
    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }

  &__category {
    &-list {
      position: absolute;
      top: 30px;
      left: 30px;
    }
  }

  .category-label {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}
