@import "../mixins/all";

.category-cloud {
  &-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
  }
  &-label {
    position: relative;
    display: inline-block;
    color: $white;
    font-family: "RedHatDisplay", "Montserrat";
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 6px 9px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: $orange;
    text-align: center;
    transition: background-color 300ms, color 300ms;
    &:hover {
      text-decoration: none;
      background-color: $white;
      color: $orange;
    }
  }
}
