@import "../mixins/all";

.recent-post {
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 20px;
  &-list {
    display: grid;
    row-gap: 25px;
  }
  &__link {
    @include reset-link();
    transition: color 300ms;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
  &__thumb {
    border-radius: 10px;
    overflow: hidden;
    display: block;
    width: 70px;
    height: 70px;
  }
  &__title {
    margin: 0 0 3px;
  }
  &__date {
    @include font-size(14px);
    line-height: 1;
    font-weight: 500;
    color: $gray;
  }
}
